<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<style type="text/css">
			
		</style>
	</head>
	<body>		
				
		<nav class="navbar navbar-light bg-faded">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <ul class="nav navbar-nav">
		    <li class="nav-item active">
		      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/weekday">Weekday</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/weekend">Weekend</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/sunday">Sunday</a>
		    </li>		    
		  </ul>
		  <form class="form-inline pull-xs-right">
		    <input class="form-control" type="text" placeholder="Search">
		    <button class="btn btn-success-outline" type="submit">Search</button>
		  </form>
		</nav>		


		{{{ body }}}
		<footer>footer</footer>
	</body>
</HTML>
